<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    {{#if title}}
    <title>{{title}}</title>
    {{else}}
    <title>Create your Blog today!</title>
    {{/if}}

    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    {{{body}}}
</body>

</html>