<link rel='stylesheet' href='/css/login.css' />

<section class='container'>

  <div class='login box-shadow content card'>
    <h1>SIGN IN</h1>

    <form class="content">
      <input type='text' name='username' placeholder="Username" />
      <input type='password' name='password' placeholder="Password"/>

      <span class="message text-center"></span>
      <div class="buttons">
        <a href='/register'>Register new account</a>
        <button type='submit' class="btn btn-primary btn-pulse text-md round">Login</button>
      </div>
    </form>
  </div>
</section>

<script src="/js/login.js" type="module"></script>