<link rel='stylesheet' href='/css/register.css' />

<section class='container'>

  <div class='login box-shadow content card'>
    <h1>REGISTER ACCOUNT</h1>

    <form class='content'>
      <div class='row'>
        <section>
          <h4 class="text-center">Basic Information</h4>

          <div class='input outline'>
            <input
              type='text'
              name='first_name'
              placeholder='First name'
              data-lpignore='true'
            />
            <label>First Name *</label>
            <span class='message'></span>
          </div>

          <div class='input outline'>
            <input
              type='text'
              name='middle_name'
              placeholder='Middle name'
              data-lpignore='true'
            />
            <label>Middle Name</label>
            <span class='message'></span>
          </div>

          <div class='input outline'>
            <input
              type='text'
              name='last_name'
              placeholder='Last name'
              data-lpignore='true'
            />
            <label>Last Name *</label>
            <span class='message'></span>
          </div>

          <div class='input outline'>
            <input
              type='date'
              name='birth_date'
              placeholder='First name'
              data-lpignore='true'
            />
            <label>Birth Date</label>
            <span class='message'></span>
          </div>

          <div class='input outline'>
            <textarea name='description' placeholder='Description'></textarea>
            <label>Description</label>
            <span class='message'></span>
          </div>
        </section>

        <section>
          <h4 class="text-center">Account Information</h4>

          <div class="avatar-container">
            <span class="arrow left">&lt;</span>
            <ul class="list">
              <li><div class="avatar boy-1"></div></li>
              <li><div class="avatar boy-2"></div></li>
              <li><div class="avatar boy-3"></div></li>
              <li><div class="avatar boy-4"></div></li>
              <li><div class="avatar girl-1"></div></li>
              <li><div class="avatar girl-2"></div></li>
              <li><div class="avatar girl-3"></div></li>
              <li><div class="avatar girl-4"></div></li>
            </ul>
            <span class="arrow right">&gt;</span>
          </div>

          <div class='input outline'>
            <input
              type='text'
              name='username'
              placeholder='placehodler'
              data-lpignore='true'
            />
            <label>Username *</label>
            <span class='message'></span>
          </div>

          <div class='input outline'>
            <input
              type='password'
              name='password'
              placeholder='placeholder'
              data-lpignore='true'
            />
            <label>Password *</label>
            <span class='message'></span>
          </div>

          <div class='input outline'>
            <input
              type='password'
              name='verify_password'
              placeholder='placeholder'
              data-lpignore='true'
            />
            <label>Verify Password *</label>
            <span class='message'></span>
          </div>

          <div class='buttons'>
            <a href='/login'>Already have an account?</a>
            <br />
            <button
              type='submit'
              class='btn btn-primary btn-pulse text-md round'
            >Register</button>
          </div>

        </section>

      </div>

    </form>
  </div>
</section>

<script src='/js/register.js' type='module'></script>