.login {
  width: 40rem;
}

.login h1 {
  text-align: center;
}

.login .buttons {
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-align: right;
}

.login .buttons a {
  margin-bottom: 2rem;
  color: var(--text-white);
}